*{margin:0;
padding:0;
box-sizing: horizontal;
list-style-type:none;
text-decoration:none;
}

body{
    font-family: 'Cardo', serif;
    background-color: #8C694A;
    background: linear-gradient 90gr( black);
    }

header{
    width: 100%;
    height: 100%;
    align-items: center;
    background-image:  url(../imagenes/Chicken-Meat-Neon-Sign-stock-vector_-Illustration-of-dinner-130075503_1.jpg)
}

.navegacion{
    display:flex;
    justify-content: space-around;
    width:90vw;
    height: 70px;
    align-content: center;
    align-items: center;
    text-decoration: none;
}
.carding img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.navegacion ul li{
    width: 100px;
    list-style-type:none;
    text-decoration: none;
}

.navegacion a{
    color:rgb(246, 239, 239);

}
.banner{
    height: 80vh;
    background-image: url(../imagenes/Vector_de_carne_de_pollo___Vector_Premium.jpg);
    background-size: cover;
    background-attachment: fixed;
}

.banner h2{
    color: white;
    font-size: 3rem;
    font-family:fantasy, cursive;
    padding: 1rem;
}
.banner h3{
    color: white;
    font-size: 2rem;
    font-family:fantasy, cursive;
    padding: 1rem;
}

.contenedor p{
    color: white;
    font-size: 2rem;
    padding: 1rem;
}

.footer {
    background-color: white;
    font-size: 6rem;
}
.footer{
    background-color: white;
}

.carding{
    width: 30vw;
    display: flex;
    flex-wrap:wrap ;
}
.contenidoubi {
    color: white;
}

#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#header.navegacion li{
    display: flex;
    list-style: none;
}